<div class="container">	
	<div class="innerContainer">
		<div class="welcome invitation">
			<h3>Kære kollega,</h3>
			<div id='enroll'><a href='#/' style='color:white'><strong>Tryk her for at gå til tilmeldingsside</strong></a></div>
			<p class="intro">Så er det tiden at tilmelde sig <strong>After Dark Royale - Royal Edtion</strong>. Det bliver en fornem aften i selskab med James Bond, samt Bond's venner og fornøjelser. Det er <em>for your eyes only</em>! Den <strong>25. april</strong>, efter NC Update.</p>
			<p>Puds dit stiveste suit af, så vi kan vise at Netcompany leverer med stil og pragt! <em>The world is not enough</em>! I løbet af aftenen skal vi have kåret Netcompany's 007. Det bliver så absolut nådesløst, hvor man med fordel kan mindes visdomsordene; <em>live and let die</em>! Mandomsprøven vil bestå af en altoverskyggende pokerturnering - det bliver <em>a view to a kill</em>!! Aftenen kategoriseres som uegnet for <em>octopussies</em>!</p>
			<p>Skulle aftenen vise at du ikke er en skarptrænet, omvandrende testosteronbombe, så kan du søge tilflugt i det nærtliggende kasino, men husk nu; <em>you only live twice</em>!</p>
			<p>Svar udbedes inden d. 18. april.</p>
			<p><em>The living daylights</em><br />Jonatan, Theis og Jonas</p>
		</div>
	</div>
</div>
<div id='poker'>
	<h4>Poker-program</h4>
	<table>
		<tr><td>17:00 - 18:15</td><td>Mad, drikke og taktik</td></tr>
		<tr><td>17:45 - 18:15</td><td>Poker crash course</td></tr>
		<tr><td>18:15 - 19:45</td><td>Indledende runder</td></tr>
		<tr><td>19:45 - 20:00</td><td>Pause</td></tr>
		<tr><td>20:00 - 21:00</td><td>Finale start</td></tr>
		<tr><td>21:00 - 21:15</td><td>Pause</td></tr>
		<tr><td>21:15 - 22:30</td><td>Finale fortsat</td></tr>
		<tr><td>22:30 - 23:00</td><td>Præmieoverrækkelse</td></tr>
	</table>
	<h4>Mad-program</h4>
	<table>
		<tr><td>17:00 - 17:30</td><td>Velkomstdrink</td></tr>
		<tr><td>17:30 - 23:00</td><td>Cocktailbar</td></tr>
		<tr><td>17:30 - 18:30</td><td>Mad</td></tr>
		<tr><td>20:30 - 21:30</td><td>Natmad</td></tr>
	</table>
</div>
<div id='kasino'>
	<h4>Kasino-program</h4>
	<table>
		<tr><td>17:00 - 18:30</td><td>Mad, drikke og taktik</td></tr>
		<tr><td>18:30 - 20:15</td><td>Kasino runde 1</td></tr>
		<tr><td>20:15 - 20:45</td><td>Præmieoverrækkelse</td></tr>
		<tr><td>20:45 - 22:30</td><td>Kasino runde 2</td></tr>
		<tr><td>22:30 - 23:00</td><td>Præmieoverrækkelse</td></tr>
	</table>
	<h4>Babe-program</h4>
	<table>
		<tr><td>18:00 - 19:00</td><td>Bond Babes</td></tr>
		<tr><td>19:00 - 20:00</td><td>Bond Babes</td></tr>
		<tr><td>20:00 - 21:00</td><td>Bond Babes</td></tr>
		<tr><td>21:00 - 22:00</td><td>Bond Babes</td></tr>
		<tr><td>22:00 - 23:00</td><td>Bond Babes</td></tr>
	</table>
	<p id='disclaimer'>Der tages forbehold for ændringer til det endelige program.</p>
</div>
