
<div id='poker'>
	<h4>Poker-program</h4>
	<table>
		<tr><td>17:00 - 18:15</td><td>Mad, drikke og taktik</td></tr>
		<tr><td>17:45 - 18:15</td><td>Poker crash course</td></tr>
		<tr><td>18:15 - 19:45</td><td>Indledende runder</td></tr>
		<tr><td>19:45 - 20:00</td><td>Pause</td></tr>
		<tr><td>20:00 - 21:00</td><td>Finale start</td></tr>
		<tr><td>21:00 - 21:15</td><td>Pause</td></tr>
		<tr><td>21:15 - 22:30</td><td>Finale fortsat</td></tr>
		<tr><td>22:30 - 23:00</td><td>Præmieoverrækkelse</td></tr>
	</table>
	<h4>Mad-program</h4>
	<table>
		<tr><td>17:00 - 17:30</td><td>Velkomstdrink</td></tr>
		<tr><td>17:30 - 23:00</td><td>Cocktailbar</td></tr>
		<tr><td>17:30 - 18:30</td><td>Mad</td></tr>
		<tr><td>20:30 - 21:30</td><td>Natmad</td></tr>
	</table>
</div>
<div id='kasino'>
	<h4>Kasino-program</h4>
	<table>
		<tr><td>17:00 - 18:30</td><td>Mad, drikke og taktik</td></tr>
		<tr><td>18:30 - 20:15</td><td>Kasino runde 1</td></tr>
		<tr><td>20:15 - 20:45</td><td>Præmieoverrækkelse</td></tr>
		<tr><td>20:45 - 22:30</td><td>Kasino runde 2</td></tr>
		<tr><td>22:30 - 23:00</td><td>Præmieoverrækkelse</td></tr>
	</table>
	<h4>Babe-program</h4>
	<table>
		<tr><td>18:00 - 19:00</td><td>Bond Babes</td></tr>
		<tr><td>19:00 - 20:00</td><td>Bond Babes</td></tr>
		<tr><td>20:00 - 21:00</td><td>Bond Babes</td></tr>
		<tr><td>21:00 - 22:00</td><td>Bond Babes</td></tr>
		<tr><td>22:00 - 23:00</td><td>Bond Babes</td></tr>
	</table>
	<p id='disclaimer'>Der tages forbehold for ændringer til det endelige program.</p>
</div>
<div class="container">	
	<div class="innerContainer">
		<div class="welcome">
			<h3>Hej {{userName}}!</h3>
			<p class="intro">After Dark byder velkommen til en eksklusiv aften!</p>
			<p>Aftenen vil byde på velkendte koncepter, som poker, kasino og Bonds-babes i bedste Casino Royale stil.</p>
			<p>Vi vil åbne for kalas i direkte forlængelse af NC Update, <strong>d. 25. april</strong>. Der er således absolut ingen logistisk udfordring forbundet med deltagelse i dette arrangement.</p>
			<p>Svar udbedes inden d. 18. april.</p>
			<p><strong>Hvis du ikke kan tilmelde, så brug Chrome eller IE10+!</strong></p>
			<div ng-hide="isRegistered" id="enroll" ng-click="participate(1)">Tryk her for at tilmelde dig!</div>
			<div ng-hide="isRegistered || !isPartnerEvent" id="enroll" ng-click="participate(2)">Tryk her for at tilmelde din partner og dig!</div>
			<p ng-show="isRegistered"><b>Du er tilmeldt!</b></p>
			<div class="filter">
				<input ng-model="query" placeholder="Søg i tilmeldte...">
			</div>
		</div>
		<p>Der er {{nrOfParticipants}} tilmeldte</p>
		<div class="guests">
			<ul>
				<li ng-repeat="person in participants | filter:query ">{{person}}</li>
				<li ng-show="!participants.length">Endnu ingen tilmeldte</li>
			</ul>
		</div>
	</div>
</div>
